@media screen and (max-width: 3000px) {
  #mobileSounds {
    display: none;
  }
}
@media only screen and (max-width: 455px) {
  svg {
    width: 95%;
  }
  .footer {
    margin-left: 10px;
    margin-right: 10px;
  }
  h6#description {
    margin-left: 10px;
    margin-right: 10px;
  }
}
#clickSounds {
  margin-bottom: 20px;
}
@media only screen and (max-width: 818px) {
  #mobileSounds {
    display: inline;
  }
  .footer {
    margin-left: 10px;
    margin-right: 10px;
  }
}
*,
:before,
:after {
  box-sizing: unset !important;
}
a#footer {
  text-decoration: none;
}
a:hover#footer {
  text-decoration: underline;
}
a#warning {
  text-decoration: none;
}
a:hover#warning {
  text-decoration: underline;
}
.setting {
  padding-top: 10px;
  padding-bottom: 10px;
}
.w3-modal-content {
  padding: 25px !important;
}
#game {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 22px;
}
#clicker {
  padding: 50px;
  line-height: 0;
  color: #fff;
  background-color: red;
}
#warningDialog {
  text-align: center;
}
h5#noCases {
  padding-bottom: 15px;
  line-height: 1.5;
}
h5#soundText {
  line-height: 1.5;
}
.footer {
  color: #606060;
}
#perClickCardImage {
  background: url(https://images.ctfassets.net/1pxughrhgws1/N8j7abmg2AAMnwluRqOxj/5ed4b971d6bba6bf726b3f1f94df02cb/per-click.png?w=375&q=0&fm=webp)
    center / cover;
}
#clickBombCardImage {
  background: url(https://images.ctfassets.net/1pxughrhgws1/3vYi3hcM3a8yQLx8wNAqoh/8a0a0d90305db0dcc7854d51c327340c/click-bomb.png?w=375&q=0&fm=webp)
    center / cover;
}
#clickMinerCardImage {
  background: url(https://images.ctfassets.net/1pxughrhgws1/3PIufDECfsez542I4fDw59/2f6af42948f5da540326acbc91535122/click-miner.png?w=375&q=0&fm=webp)
    center / cover;
}
#clickFactoryCardImage {
  background: url(https://images.ctfassets.net/1pxughrhgws1/4SGFHoucrQzzbLBXGpy0eb/ac2c146739ef8ea724c4a0d16739f195/click-factory.png?w=375&q=0&fm=webp)
    center / cover;
}
#autoClickerCardImage {
  background: url(https://images.ctfassets.net/1pxughrhgws1/44juoGdQf6wuf3CFNeKrvE/f812441280fbde4c488d29b5fa05cbf8/auto-clicker.png?w=375&q=0&fm=webp)
    center / cover;
}
#clickPortalCardImage {
  background: url(https://images.ctfassets.net/1pxughrhgws1/6uZIpQrr7vpoterpVbUzpJ/8da30b29918a1fc3e11c7ced23d896ee/click-portal.jpg?w=375&q=0&fm=webp)
    center / cover;
}
#soundCaseCardImage {
  background: url(https://images.ctfassets.net/1pxughrhgws1/ZKzEiABS91btrgPxL7nMY/c4d6ffb1cb1fbf615a19db1ff3149c80/sound-case.png?w=375&q=0&fm=webp)
    center / cover;
}
#clickCaseCardImage {
  background: url(https://images.ctfassets.net/1pxughrhgws1/5WkNWwEGZM8e1rGQyPXLaB/02520510bc6f0aa3ec3a3c46d0ac6831/click-case.png?w=375&q=0&fm=webp)
    center / cover;
}
