# The Docker image that will be used to build your app
image: alpine
create-pages:
  pages:
    # The folder that contains the files to be exposed at the Page URL
    publish: public
  rules:
    # This ensures that only pushes to the default branch will trigger
    # a pages deploy
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
  # Functions that should be executed before the build script is run
  before_script:
    - echo "No installation needed"
  script:
    - mkdir public
    - find . -path ./public -prune -o -path ./.git -prune -o \( -type d -o -name '*.html' -o -name '*.css' -o -name '*.js' -o -name '*.ico' -o -name '*.woff2' \) -print | cpio -pdm public
